* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
  z-index: 1000;
  height: 60px;
}

.nav-links {
  margin-top: 5px;
  list-style: none;
  display: flex;
  gap: 80px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.nav-icon {
  margin-top: -5px;
  height: 25px;
  width: auto;
}

.icons {
  font-size: 25px;
  display: flex;
  gap: 25px;
  align-items: center;
}
